* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
    padding-top: 1.5rem;
    background-color: #0d1117;
    color: #dee2e6;
    /* height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; */
}

.container {
    width: 100%;
    max-width: 330px;
    margin: auto;
    /* border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.fs-14 {
    font-size: 14px;
}

.song-list {
    padding: .5rem .5rem;
    border-radius: .375rem;
    border: 1px solid #dee2e6;
    height: 230px;
    overflow-y: scroll;
}

.song-list li {
    padding: .2rem;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    margin-top: .5rem;
    list-style-type: none;
}

.song-list li.active {
    background-color: #0d6efd;
    color: #fff;
    border-radius: .375rem;
}

.song-list li:hover {
    background-color: #484848;
    color: #fff;
    border-radius: .375rem;
}

.title {
    white-space: nowrap;
    text-align: center;
    animation: slideInFromRight 16s linear infinite;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.controls {
    width: 100%;
    max-width: 300px;
    height: 40px;
    background-color: #484848;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    font-size: 22px;
}

button {
    all: unset;
    cursor: pointer;
    border: none;
    outline: none;
}

